<template>
    <div class="eretailers-outer" :class="[atts.custom_class]">
      <div class="vld-parent">
          <loading :active.sync="isLoading"
                  :can-cancel="false"
                  :is-full-page="fullPage">
          </loading>
      </div>
      <div class="eretailers-inner">
        <button class="bf-eretail-locator-button" :class="{'eretailer-button-image': atts.button_image }" @click="fetchList()" :id="atts.button_id">
          <img v-if="atts.button_image" :src="atts.button_image" :alt="atts.button_label">
          <span v-else>{{ atts.button_label }}</span>
        </button>
        <Dialog
            v-model="displayDialog"
            :product="product"
            :subgeoList="subgeoList"
            :banner="bannerImage"
            :legal="atts.legalcopy"
            :noresults="atts.noresults"
            :introtext="atts.introtext"
            :fullscreen="atts.fullscreen" >
        </Dialog>
      </div>
  </div>
</template>


<script>

import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css'
import Dialog from './components/Dialog.vue'

import axios from 'axios';

export default {
    name: 'App',
    components: {
        Dialog,
        Loading
    },
    props: ['atts'],
    data () {
        return {
            isLoading: false,
            fullPage: true,
            displayDialog: false,
            product: {},
            subgeoList: [],
            bannerImage: ''
        }
    },
    methods: {
        fetchList: function() {
            this.isLoading = true;
            var queryString = 'https://epremise-api.b-fonline.com/product/' + this.atts.market_product_code;

            axios.get(queryString)
                .then( (response) => {
                    return response.data;
                })
                .then( (data) => {
                    this.product = data;
                    this.bannerImage = this.atts.banner_image;

                    if (this.product.search_subcriteria) {
                        this.fetchSubgeoList(this.product.country_iso2);
                    }
                    else{
                        this.isLoading = false;
                        this.displayDialog = true;
                    }
                })
                .catch( e => {
                    this.isLoading = false;
                    console.log('Error', e);
                });

            // Track button event
            this.trackButtonClick('eRetail Locator');

        },
        fetchSubgeoList: function(country_iso2){
            this.isLoading = true;
            var queryString = 'https://epremise-api.b-fonline.com/subgeo/' + country_iso2;

            axios.get(queryString)
              .then( (response) => {
                  return response.data;
              })
              .then( (data) => {
                  var subgeo_name_list = [];

                  data.forEach(function(subgeo_locale){
                      subgeo_name_list.push(subgeo_locale.subgeo_name);
                  }.bind(subgeo_name_list));

                  this.subgeoList = subgeo_name_list;
                  this.isLoading = false;
                  this.displayDialog = true;
              })
              .catch(function(error){
                  console.log('Error fetching subgeo list');
              });
        },
        trackButtonClick: function(__eventLabel) {
            if (typeof ga !== 'undefined') {
              ga('send',
              {
                  hitType: 'event',
                  eventCategory: 'eRetail Button',
                  eventAction: 'Click',
                  eventLabel: __eventLabel
              });
            }

        }
    }
}

</script>


<style lang="scss">

</style>
