@import "_variables.scss";

/*
 * Button
 */
button {

    &.bf-eretail-locator-button {
        border: 1px solid $black;
        width: 180px;

        &:hover {
            background-color: $black;
            color: $white;
        }

        &.eretailer-button-image {
            border: 0;

            img {
                width: 90%;
            }

            &:hover {
                background-color: transparent;

                img {
                width: 100%;
                }
            }
        }
    }

}

/*
 * Dialog Vue
 */
.eretailers-by-geo {
    border: 1px solid $black;
    max-width: 480px;
    padding: 15px;
    width: 100%;

    select {
        &.subgeo-list {
            border: 1px solid $black;
        }
    }

    .eretailers-location-container {
        p {
            width: 100%;
        }

        button {
            &.eretailers-change-location {
                border: 0;
                float: right;
                padding: 0;
                text-decoration: underline;

                &:focus,
                &:hover {
                    background-color: transparent;
                    color: $black;
                    cursor: pointer;
                }
            }
        }
    }

    .eretailers {
        display: inline-block;
        list-style-type: none;
        padding-left: 0;

        .eretailers-vendor {
            border: 2px solid $black;
            display: inline-block;
            margin: 5px 0;
            padding-left: 10px;
            width: auto;

            .eretailers-card-vendor {
                color: $black;
                display: block;
                float: left;
                line-height: 50px;
                text-decoration: none;

                .eretailers-cell-table {
                    display: flex;
                    align-items: center;
                    width: 100%;

                    .eretailers-cell-image {
                        padding-right: 10px;
                        img {
                            width: inherit;
                        }
                    }

                    .eretailers-cell-account {
                        vertical-align: middle;
                        span {
                            font-size: inherit;
                        }
                    }
                }
            }
        }
    }

    .eretailers-header {
        display: inline-block;
        min-height: 39px;
        position: relative;
        width: 100%;

        button {
            background: $black;
            border-radius: 30px;
            border: 1px solid $gray;
            color: $white;
            cursor: pointer;
            display: inline-block;
            float: right;
            font-size: 31px;
            font-weight: bold;
            line-height: 0px;
            padding: 11px 3px 16px;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    .eretailers-none {
        margin: 25px 0;
    }

    .eretailers-footer-copy {
        color: lighten($black, 10%);
        font-size: 12px;
        line-height: normal;
        margin-top: 25px;
    }

    &.eretailers-by-geo-fullscreen {
        background-color: $white;
        height: 100%;
        left: 0;
        max-width: 100%;
        position: fixed;
        top: 0;
        width: 100%;

        .eretailers-inner-container {
            margin: 0 auto;
            max-width: 480px;
            padding-top: 25px;
            width: 100%;
        }

        .eretailers-header {
            text-align: center;
        }

        .eretailers-content {
            text-align: center;

            select {
                &.subgeo-list {
                    margin: 0 auto;
                }
            }

            .eretailers-location-container {
                text-align: left;
            }
        }
    }

}

@media only screen and (min-width: 481px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1030px) {

}

@media only screen and (min-width: 1240px) {

}

/* For retina screens */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {

}
