<template>
  <div class="eretailers-by-geo"
   :class="{ 'eretailers-by-geo-fullscreen': fullscreen}"
   v-show="dialogbox">
     <div class="eretailers-inner-container">
        <div class="eretailers-header">
            <img :src="banner" alt="Banner" :class="!banner ? '' : 'eretailers-banner-img'" v-if="banner">
            <div :class="!banner ? 'eretailers-tbl-header' : 'eretailers-tbl-header eretailers-tbl-header-close-icon'">
                <button @click="dialogbox=false">&times;</button>
            </div>
            <p v-html="introtext"></p>
        </div>

        <div class="eretailers-content">
            <template v-if="showSubgeoList">
                <select class="subgeo-list" v-model="selectedSubgeo" id="eretailer_subgeo_selector">
                    <option value="null">Choose your {{subgeoLabel}}</option>
                    <option v-for="(subgeo, key, index) in subgeoList" :key="index" v-bind:value="subgeo">{{ subgeo }}</option>
                </select>
            </template>
            <div class="eretailers-location-container" v-show="showLocationLabel">
                <p>Your Location - {{ selectedSubgeo }}<button class="eretailers-change-location" @click="changeLocation">Change Location</button></p>
            </div>
            <div class="eretailers" v-show="productList">
                <div v-for="(product, key, index) in productList" :key="index" class="eretailers-vendor">
                    <a v-bind:href="product.url" target="_blank" class="eretailers-card-vendor" @click="trackOutboundClick(product.url)">
                        <div class="eretailers-cell-table" style="pointer-events: none;" >
                            <div class="eretailers-cell-image">
                                <img v-bind:src="product.logo_url"/>
                            </div>
                            <div class="eretailers-cell-account">
                                <div v-if="product.banner_group_name">
                                    <span>{{ product.banner_group_name }}</span>
                                </div>
                                <div v-else>
                                    <span>
                                        {{ product.account_name }}
                                        <small v-if="product.account_usp"><br/><em>{{ product.account_usp }}</em></small>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <p class="eretailers-none" v-show="(!showSubgeoList && !productList) || (selectedSubgeo && !productList)" v-html="noresults">Nothing to see here.</p>

        </div>
        <div class="eretailers-footer-copy" v-html="legal"></div>
    </div>
</div>
</template>


<script>
export default {
    name: 'Dialog',
    props: {
        value: Boolean,
        product: Object,
        subgeoList: Array,
        banner: String,
        legal: String,
        noresults: String,
        introtext: String,
        fullscreen: Boolean
    },
    data: () => ({
        selectedSubgeo: null,
    }),
    computed: {
        dialogbox: {
            get () { return this.value },
            set (value) { this.$emit('input', value) }
        },
        productList: function() {
            if( ! this.product.retailers_by_geo ) {
                return null;
            }
            return this.product.retailers_by_geo[this.selectedSubgeo || "all"];
        },
        showLocationLabel: function() {
            return this.product.search_subcriteria && this.selectedSubgeo;
        },
        subgeoLabel: function(){
          return this.product.search_subcriteria;
        },
        showSubgeoList: function() {
            if ( typeof this.subgeoList == 'object' ) {
                return Object.keys(this.subgeoList).length !== 0;
            }
            return false;
        },
    },
    methods: {
        changeLocation() {
            this.selectedSubgeo = null;
        },
        trackOutboundClick(__eventLabel) {
            if (typeof ga !== 'undefined') {
                ga('send',
                {
                    hitType: 'event',
                    eventCategory: 'Outbound Link',
                    eventAction: 'Click',
                    eventLabel: __eventLabel,
                    transport: 'beacon'
                });
            }
        }
    }
}
</script>

<style lang="scss">

</style>
