
$body-bg:       #f8fafc;

$blue:          #3490dc;
$indigo:        #6574cd;
$purple:        #9561e2;
$pink:          #f66D9b;
$red:           #e3342f;
$orange:        #f6993f;
$yellow:        #ffed4a;
$green:         #38c172;
$teal:          #4dc0b5;
$cyan:          #6cb2eb;

$black:         #000;
$white:         #fff;
$gray:          #eaedf2;
$light-gray:    #f8f9fa;
$meta-gray:     #9fa6b4;
$medium-gray:	#404040;
$dark-gray:		#262626;
$orange:		#FF4600;
$tan:           #eceee5;
$green:         #7dd667;
$bones-pink:    #f01d4f;
$blue:          #2980b9;
$border-color:  #ccc;
$disabled-gray: #cfcfcf;

$link-color:    $bones-pink;

$alert-yellow:  #ebe16f;
$alert-red:     #fbe3e4;
$alert-green:   #e6efc2;
$alert-blue:    #d5edf8;

$base-spacing:    1.5em !default;
$alert-color:   #fff6bf !default;
$error-color:   #fbe3e4 !default;
$notice-color:  #e5edf8 !default;
$success-color: #e6efc2 !default;

$dark-vue:          #424242;

$sans-serif-font:   "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-font:        "Georgia", Cambria, Times New Roman, Times, serif;
$default-font:      $sans-serif-font;

$font-size-base:    0.9rem;
$line-height-base:  1.6;

$body-font-size:    1em !default;
$body-line-height:  1 !default;
$body-font-family:  $default-font !default;
