
@import "_variables.scss";

/* 
* Button
*/



/* 
* Vue component
*/




@media only screen and (min-width: 481px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1030px) {

}

@media only screen and (min-width: 1240px) {

}

// For retina screens
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {

}